*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --black: #000000;
  --Green: #72e7b3;
  --Grey: #342e37;
  --LightPurple: #b8b8ff;
  --DarkPurple: #9381ff;
  --White: #ffff;
}


.jSIwrL {
  width: 1px;
  position: fixed;
  bottom: -25px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: var(--green);
}

.verticalEmail a {
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: var(--fz-lg);
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  color: var(--DarkPurple)
}

.verticalEmail a:hover {
  color: var(--Green)
}

#greenHover a:hover {
  color: #72e7b3
}

html {
  box-sizing: border-box;
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  color: #000000;
  background-color: #ffffff;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

#logo {
  width: 60px;
}

/* Alphabetical order from here down  */

a {
  color: var(--Green);
}

a :hover {
  color: #72e7b3;
}

.align-center {
  text-align: center;
}

.a-menu {
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: opacity 1s ease;
  opacity: 0.8;
}

.box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.burger {
  position: absolute;
  top: 0;
  right: 0;
}

.navbar-brand {
padding-bottom: 0px;
  padding-left: 60px;
  padding-top: 50px;
padding-right: 20px;

  
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--LightPurple);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: var(--White);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: var(--DarkPurple);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
  color: #fff
}

.button-5:active {
  background-color: var(--Green);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.miniTabs li a:hover {
  background-color: #b8b8ff;
}

.button-6 {
  align-items: center;
  background-clip: padding-box;
  background-color: #342e37;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: var(--Green);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin-left: 20px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}



.button-6:hover,
.button-6:focus {
  background-color: var(--Green);
  color: var(--Grey);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #342e37;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


.box h1 {
  color: var(--LightPurple)
}

.button-8 {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--DarkPurple);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-8:hover,
.button-8:focus {
  background-color: var(--DarkPurple);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-8:hover {
  transform: translateY(-1px);
  background-color: var(--White);
  color: var(--DarkPurple)
}




.button.mode:active,
.button.mode.is-active {
  background-color: #fefbf5;
  border-color: #fefbf5;
  color: #000000;
}

.button.mode {
  background-color: #98bec8;
  border-color: #fefbf5;
  color: #000000;
}

.button.is-link {
  background-color: var(--LightPurple);
  border-color: transparent;
  color: #fff;
}

.button.is-link.is-light {
  background-color: var(--Grey);
  color: var(--White);
}

.buttons:last-child {
  margin-bottom: 3rem;
}

.buttons.rec {
  margin-bottom: 2.25rem;
}

.buttons.foot {
  margin-bottom: 0rem;
}

.column p {
  align-self: left;
}

.contact-img {
  max-width: 100%;
  margin: 0 auto;
}

.column {
  display: flex;
  justify-content: center;
  flex-flow: column;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

#footer p {
  padding: 8px;
}

#footer a {
  color: var(--LightPurple) !important;
}

h1 {
  font-size: 100%;
  font-weight: normal;
  font-family: comfortaa;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
}

.h3-exp {
  padding: 0rem 2rem 0rem 2rem;
}

.has-text-blue {
  color: var(--LightPurple) !important;
}

.heading {
  display: block;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.hero.is-large .hero-body {
  padding: 0px;
}

#miniTabs {
  padding-right: 2rem;
}

.tabs li.is-active a {
  border-bottom-color: var(--Green);
  color: #363636;

}

.tabs.is-boxed li.is-active :hover {
  background-color: var(--LightPurple);
}

.tabs.is-boxed li.is-active a {
  background-color: var(--LightPurple);
  border-color: var(--White);
  border-bottom-color: transparent !important;
}

.tabs ul {
  border-bottom-color: #fff;

}

.hero.is-info {
  background-color: var(--LightPurple);
  color: var();
}

.hero.is-info .subtitle a:not(.button),
.hero.is-info .subtitle strong {
  color: #fff;
}

.hero.is-info .navbar-item,
.hero.is-info .navbar-link {
  color: #000000;
}

.hero .navbar {
  background: none;
}

.hero.is-info .tabs a {
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: opacity 1s ease;
  opacity: 0.8;
  height: 2rem;
}

.hero.is-info .tabs.is-boxed a,
.hero.is-info .tabs.is-toggle a {
  color: #000000;
}

.hero.is-info .tabs.is-boxed a:hover,
.hero.is-info .tabs.is-toggle a:hover {
  background-color: var(--DarkPurple);
  color: #ffffff;
}

.hero.is-info .tabs.is-boxed li.is-active a,
.hero.is-info .tabs.is-boxed li.is-active a:hover,
.hero.is-info .tabs.is-toggle li.is-active a,
.hero.is-info .tabs.is-toggle li.is-active a:hover {
  background-color: #fff;
  border-color: #fff;
  color: var(--LightPurple) !important;
}

.hero.is-info a.navbar-item:hover,
.hero.is-info a.navbar-item.is-active,
.hero.is-info .navbar-link:hover,
.hero.is-info .navbar-link.is-active {
  background-color: var(--LightPurple);
}

.has-purple-bg {
  background-color: var(--LightPurple);
}

.has-white-purple-gradient {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(184, 184, 255, 1) 50%, rgba(184, 184, 255, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(184, 184, 255, 1) 50%, rgba(184, 184, 255, 1) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(184, 184, 255, 1) 50%, rgba(184, 184, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#f8a794", GradientType=1);
}

@media(max-width: 1024px) {
  .has-white-purple-gradient {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(184, 184, 255, 1) 25%, rgba(184, 184, 255, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(184, 184, 255, 1) 25%, rgba(184, 184, 255, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(184, 184, 255, 1) 25%, rgba(184, 184, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#f8a794", GradientType=1);
  }
}

@media screen and (max-width: 1023px) {
  .hero.is-info .navbar-menu {
    background-color: var(--LightPurple);
  }
}

.is-size-7 {
  font-size: 0.75rem !important;
  padding-top: 1rem;
}

.side__styledSideElement-sc-1duznzb-0 .h0vuup{
  display: none;
}

.verticalEmail {
  display: none;
}

@media screen and (min-width: 320px) {
  .navbar>.container {
    align-items: stretch;
    display: inline;
    min-height: 3.25rem;
    width: 100%;
  }
}

.sideEmailLink {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: var(--Green);
}

.verticalEmail a {
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: var(--fz-lg);
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.verticalEmail a :hover {
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: var(--fz-lg);
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  color: #72e7b3
}



li {
  text-align: -webkit-match-parent;
}

nav {
  padding-top: 20px;
  max-height: 50px;
}

.navbar {
  background-color: #ffffff;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}

.navbar.is-dark .navbar-brand>.navbar-item,
.navbar.is-dark .navbar-brand .navbar-link {
  color: #ffffff;
}

.navbar-brand {
  border-color: #ffffff;
}

.padding-add {
  margin-bottom: 2rem;
}

p,
a,
span {
  font-weight: 400;
}

@media(max-width: 767px) {
  p {
    max-width: 90%;
    margin: 0 auto;
  }
}

#rec-feed .columns {
  margin: 0px;
}

.section {
  padding: 3rem 1.5rem 3rem 1.5rem;
}

.section-footer {
  padding: 0rem 0rem 3rem 0rem;
  background-color: #363636;
}

.section-rec {
  padding: 0rem 1.5rem 0rem 1.5rem;
}

.smallerText {
  font-size: 15.55px;
}

.social li a svg {
  width: 22px;
  height: 22px;


}

.social a {
  color: var(--DarkPurple);
}


.social {
  /* float: left; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* list-style: none; */
  /* width: 40px; */
  position: fixed;
  bottom: 0px;
  /* left: 40px; */
  /* right: auto; */
  z-index: 10;
  color: var(--DarkPurple);
  padding: 20px, 30px, 40px, 50px.Æ’
}

.social li a {
  padding: 10px;
}

.social::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--DarkPurple);
}

.social-link {
  padding: 15px;
}

.subtitle {
  color: var(--Grey);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  padding: 0rem 2rem 0rem 2rem;
}

.subtitle:not(:last-child) {
  margin-bottom: 1.5rem;
}

.switch[type=checkbox]:checked+label::before,
.switch[type=checkbox]:checked+label:before {
  background: var(--DarkPurple);
}

.boxes {
  color: var(--LightPurple);
}

.title {
  color: --Grey;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  padding: 0rem 2rem 0rem 2rem;

}

.title strong {
  color: var(--DarkPurple);
}

.title:not(:last-child) {
  margin-bottom: 3rem;
}

div.card {
  width: 300px;
  margin: 1rem 1rem 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px #7C63CF;
  background-color: var(--black);
  color: var(--White);

}

.cardTitle {
  font-family: comfortaa;
  font-size: 17px;
  text-align: center;
}

.allCards {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: exo;
  background-color: var(--Purple);
  color: var(--White)
}

div.pills p {
  margin: 0px 0px 10px 10px;
  text-align: left;
  background-color: var(--Green);
  color: var(--black);
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 100px;
  font-size: 12px;
}

.pills {
  display: flex;
  justify-content: flex-start;
}

div.card img {
  border-radius: 10px 10px 0px 0px;

}

a#connect.tab {
  color: #ffffff;
}

a#connect.tab:hover {
  color: var(--Green);
}

.navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.button1 {
  padding: 0.35em 1.2em;
  border: 0.1em solid var(--White);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: comfortaa;
  font-weight: 300;
  color: var(--White);
  text-align: center;
  transition: all 0.2s;
}

a.button1:hover {
  color: var(--Green);
  background-color: var(--Purple);
}

a.button1 {
  margin: 0.4em auto;
}

.projectHeader {
  display: flex;
  justify-content: center;
  background-color: var(--Purple);
  color: var(--Green);
  font-family: comfortaa;
  font-size: 40px;
  text-shadow: 2px 1px #757174;
}